<?php

// Rename this file to auth.php and set your values.
// Choice between environments is done in env/env.php.

require_once 'env/env.php';

switch (EXEC_ENV) {

    case OFFLINE_DEV:
        $dbName = "mydbname";
        $dbAddress = "127.0.0.1";
        $dbUserName = "root";
        $dbPassword = "";
        break;

    case ONLINE_DEV:
        $dbName = "mydbname";
        $dbAddress = "127.0.0.1";
        $dbUserName = "myusername";
        $dbPassword = "mypassword";
        break;

    case PRODUCTION:
        $dbName = "mydbname";
        $dbAddress = "127.0.0.1";
        $dbUserName = "myusername";
        $dbPassword = "mypassword";
        break;
}

?>