<?php

require_once 'prod/prod.php';

if (PRODUCTION) {
    $dbName = "mydbname";
    $dbAddress = "127.0.0.1";
    $dbUserName = "myusername";
    $dbPassword = "mypassword";
} else {
    $dbName = "mydbname";
    $dbAddress = "127.0.0.1";
    $dbUserName = "myusername";
    $dbPassword = "mypassword";
}

?>